body,
html {
  height: 100%;
  margin: 0;
}

.cambiar-perfil-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil-info {
  text-align: center;
}

.perfil-info img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cambiar-perfil-usuario h2 {
  margin-top: 0;
}
