/* CambiarPerfilUsuario.css */

body, html {
  height: 100%;
  margin: 0;
}

.cambiar-perfil-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px; /* Establece la altura mínima al 100% de la altura de la ventana */
  background-color: #f0f0f0; /* Color de fondo del cuadro */
  padding: 20px; /* Ajusta según sea necesario para el espacio interno */
  margin: 10px; /* Ajusta según sea necesario para el espacio entre el cuadro y otros elementos */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
}

.perfil-info {
  text-align: center;
}

.perfil-info img {
  width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-bottom: 10px; /* Ajusta según sea necesario */
}

.cambiar-perfil-usuario h2 {
  margin-top: 0;
}
