/*CuadradosArriba.css*/

.cuadrados-arriba {
  padding: 50px;
  display: flex;
  height: 30%;
  justify-content: center;
  Background-color: #fffefe00;
  align-items: flex-start; /* Alinea los cuadrados en la parte superior */
  margin-top: 25%; /* Ajusta según sea necesario para dar espacio desde la parte superior */
}

.cuadrado:hover {
  background-color: #797979; /* Cambia el color de fondo al hacer hover */
}

.cuadrado h3 {
  margin-top: 0; /* Elimina el margen superior del h3 */
  margin-bottom: 10px; /* Ajusta según sea necesario */
}

.cuadrado p {
  margin: 0; /* Elimina el margen por defecto del párrafo */
}
