/* CuadradosArriba.css */

.cuadrados-arriba {
  padding: 50px;
  display: flex;
  height: 30%;
  justify-content: center;
  background-color: #fffefe00;
  align-items: flex-start; /* Alinea los cuadrados en la parte superior */
  margin-top: 25%; /* Ajusta según sea necesario para dar espacio desde la parte superior */
}

.cuadrado:hover {
  background-color: #797979; /* Cambia el color de fondo al hacer hover */
}

.cuadrado h3 {
  margin-top: 0; /* Elimina el margen superior del h3 */
  margin-bottom: 10px; /* Ajusta según sea necesario */
}

.cuadrado .perfil-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuadrado .perfil-icon img {
  width: 50px; /* Ajusta según sea necesario */
  border-radius: 50%; /* Hace que la imagen sea circular */
}

.cuadrado .perfil-icon span {
  margin-top: 10px; /* Espacio entre la imagen y el nombre del usuario */
  font-size: 14px; /* Ajusta según sea necesario */
}
