/*CuadradosArriba.tsx*/

.cuadrados-arriba {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Espacio superior */
  }
  
  .cuadrado {
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px; /* Espacio lateral entre cuadrados */
    text-align: center;
  }
  
  /* Ajusta estos estilos según tus necesidades */
  