/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  width: 100%;
  position: fixed; /* Agrega posición fija para mantener el encabezado visible al hacer scroll */
  top: 0; /* Coloca el encabezado en la parte superior */
  left: 0; /* Asegura que el encabezado esté a la izquierda */
  z-index: 1000; /* Ajusta según sea necesario para estar encima de otros elementos */
}

.header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
