/* Login.css */
/* Login.css */
body {
    margin: 0;
    padding: 0;
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fes%2Ffotos%2Fbosque&psig=AOvVaw3uGIBI7yMEXsILeK66ErIS&ust=1701703299541000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMCvhPfI84IDFQAAAAAdAAAAABAE') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    border-radius: 8px; /* Bordes redondeados */
  }
  
.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura del viewport */
  }
  
  form {
    width: 100%;
    margin-top: 20px; /* Espaciado superior */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  