body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('https://storage.googleapis.com/chile-travel-newsite-static-content/2021/04/huilo-huilo.jpg'); /* Reemplaza con la ruta correcta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

#root {
  display: flex;
  height: 100vh;
}

.pagina-principal-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.imagen-container-principal {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea al centro en el eje horizontal */
  margin-top: 60vh; /* Ajusta la distancia desde la parte superior según sea necesario */
}

.cuadrado-pagina-principal-ingreso-usuarios {
  font-size: 100px;
  background-color: rgb(82, 151, 76);
  display: flex;
  justify-content: flex-end;
  margin: 0 50px; /* Espacio entre los cuadrados */
  padding: 30%; /* Ajusta el padding según sea necesario */
  border-radius: 20px; /* Ajusta el radio del borde según sea necesario */
  cursor: pointer;
}

.cuadrado-pagina-principal-ingreso-usuarios:hover{
  background-color: darkgreen;
}

.cuadrado-pagina-principal-ingreso-datos:hover{
  background-color: aquamarine;
}

.cuadrado-pagina-principal-ingreso-datos {
  font-size: 100px;
  background-color: rgb(167, 209, 163);
  display: flex;
  justify-content: flex-end;
  margin: 0 50px; /* Espacio entre los cuadrados */
  padding: 30%; /* Ajusta el padding según sea necesario */
  border-radius: 20px; /* Ajusta el radio del borde según sea necesario */
  cursor: pointer;
}
