body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100vh;
}

.pagina-principal-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center; /* Centra todo en el eje horizontal */
}

.search-bar-container {
  padding: 100px; /* Ajusta el padding según sea necesario */
  text-align: center;
}

.imagen-container {
  flex: 1;
  display: flex;
  flex-direction: row; /* Cambiado de columna a fila */
  justify-content: center; /* Centra horizontalmente los cuadrados */
  align-items: flex-end; /* Alinea los cuadrados un poco más arriba del contenedor */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.cuadrado {
  flex: 1;
  margin: 0 10px; /* Espacio entre los cuadrados */
  padding: 40px; /* Ajusta el padding según sea necesario */
  border-radius: 20px; /* Ajusta el radio del borde según sea necesario */
  cursor: pointer;
}

.cuadrado img {
  width: 100%;
  border-radius: 15px; /* Ajusta el radio del borde según sea necesario */
}
