body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('https://storage.googleapis.com/chile-travel-newsite-static-content/2021/04/huilo-huilo.jpg'); /* Reemplaza con la ruta correcta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}


#root {
  display: flex;
  height: 100vh;
}

.pagina-principal-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center; /* Centra todo en el eje horizontal */
}

.imagen-container {
  flex: 1;
  display: flex;
  flex-direction: row; /* Cambiado de columna a fila */
  justify-content: center; /* Centra horizontalmente los cuadrados */
  align-items: flex-end; /* Alinea los cuadrados un poco más arriba del contenedor */
  margin-top: 100px; /* Ajusta el margen superior según sea necesario */
}

.cuadrado {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px; /* Espacio entre los cuadrados */
  padding: 100px; /* Ajusta el padding según sea necesario */
  border-radius: 20px; /* Ajusta el radio del borde según sea necesario */
  cursor: pointer;
}

.cuadrado img {
  width: 100%;
  border-radius: 15px; /* Ajusta el radio del borde según sea necesario */
}
